# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [ ]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
total_cost=0
print(amazon_website[0][-1])
item=input("enter what u want from amazon website: ")
count_of_item=int(input("enter quantity/count of selected item: "))
for item1 in amazon_website:
    if item1[0]==item:
      total_cost=total_cost + item1[1]*count_of_item
print(f"Total cost: {total_cost}")

5000
enter what u want from amazon website: phone
enter quantity/count of selected item: 3
Total cost: 30000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

#### 3. Write a Python program to find the repeated items of a tuple.

In [ ]:
numbers=(11,42,73,11,3,3,4,56,1,2,2)
type(numbers)
repeated_items=list()

for i in numbers:
  if numbers.count(i)>1:
    repeated_items=repeated_items+[i]

print(f"Repeated items in tuple are: {set(repeated_items)}")

Repeated items in tuple are: {3, 2, 11}

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [1]:
A=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
list1=[list(el) for el in A]
list1[-1][-1]=500
# print(list1)
list2=[tuple(el) for el in list1]
print(list2)

[(10, 20, 40), (40, 50, 60), (70, 80, 500)]