Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [ ]:
numbers = [12, 75, 150, 180, 145, 525, 50]
initial=0
for number in numbers:
  if number>initial:
    initial=number
print(f"largest number is: {initial} ")

largest number is: 525

Q2. Print all the even number between (1, 12).

In [ ]:
for i in range(1,12):
  if i%2==0:
    print(i)

2
4
6
8
10

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [ ]:
number=int(input("enter number: "))
sum=0
for i in range(1,number+1):
  sum+=i
print(f"sum is: {sum}")

enter number: 10
sum is: 55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:

# Given:
numbers = [12, 75, 150, 180, 145, 525, 50]
for number in numbers:
  if number%5==0:
    if number>500:
      break
    if number>150:
      continue
    print(number)

75
150
145
50

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [ ]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(f"{list1}")

[50, 40, 30, 20, 10]